.containerConteudo div h1 {
  @media (max-width: "850px") {
    font-size: 60%;
    text-align: start;
  }
}

.containerConteudo div h2 {
  @media (max-width: "850px") {
    font-size: 60%;
    text-align: start;
  }
}

.containerConteudo div {
  @media (max-width: "850px") {
    margin: 0px 15px;
  }
}

.containerIconLixo .iconLixo {
  @media (max-width: "500px") {
    font-size: 100%;
  }
}

.containerIconEsquerdo svg{
  @media (max-width: "500px") {
    font-size: 100%;
  }
}
