#login {
  background-image: url("../../Assets/telaLoginWEG.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.imagemLogo {
  height: 100px;
  width: 130px;
}

.textoBotao {
  color: #ffffff;
}