#login {
  position: relative;
  top: 0px;
  height: 100vh;
  background-image: url("../../Assets/telaLoginWEG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.imagemLogo {
  width: 130px;
  height: 100px;
}

.textBotao {
  color: #ffffff;
}


// @media (min-width: 480px) { 
//   .text div div h5{
//     font-size: 16px;
//   }

//   .text  div div p{
//     font-size: 12px;
//   }
// }