.containerIconPessoa svg {
  @media (max-width: "700px") {
    font-size: 100%;
  }
}

.containerChat .containerTitulo h1 {
  @media (max-width: "700px") {
    font-size: 50%;
  }
}

.containerChat .containerPessoaMensagem h2 {
  @media (max-width: "700px") {
    font-size: 50%;
  }
}
