.simple-keyboard {
    background-color: #00579d;
}

.simple-keyboard.hg-theme-default.myTheme {
    border: 5px solid #00579d;
    border-radius: 10px;
}

.simple-keyboard.hg-layout-default {

    .hg-button{
        background-color: white;
        color: blakc;

        .hg-red {
            background: rgb(255, 0, 0, 0.7);
            color: white;
        }

        .hg-highlight {
            box-shadow: 5px 5px 10px 0 #00000025;
            z-index: 1;
        }

    }
}
