@import "../../variables.scss";
 
.text {
    margin-top: 0.5rem;
    &:hover {
        color: $azul-weg;
        cursor: pointer;
    }
}

.topicText {
    margin: 0.5rem 0 0 2rem
}

// /* width */
// ::-webkit-scrollbar {
//     width: 0.5rem;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #fff;
//     border-radius: 0 1rem 1rem 0;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #ddd;
//     border-radius: 1rem;
//   }
  
//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #ccc;
//   }