@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // font-size: 16px;
    font-family: 'Inter', Helvetica, sans-serif, arial;
}

a {
    color: "#595959";
    text-decoration: none;
}

// h1 {
//     font-size: 32px;
// }

// h2 {
//     font-size: 24px;
// }

// i {
//     width: 32px;
//     height: 32px;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &::before {
//         font-size: 200%;
//     }
// }

// .icone {
//     min-width: 2.25vw;
//     min-height: 4.3vh;
//     color: white
// }

// #content{
//     display: flex;
// }

// .menu-width-aberto {
//     width: 18vw;
//     max-width: 18vw;
// }

// .menu-width-fechado {
//     width: 8vw;
//     max-width: 8vw;
// }

// .navbar-heigth{
//     height: 12vh;
//     max-height: 12vh;
// }

// .branco{
//     color: white;
// }

// .cinza-escuro{
//     color: $cinza-escuro;
// }