@import "../../variables.scss";

#navbar{
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    background-color: $azul-weg;

    .cima-sidebar{
        position: relative;
        left: -18vw;
    }
}