@import "../../variables.scss";

@keyframes normal {
    from{
        top: 0; 
    }
    to{
        top: 0;
    }
}

#navbar{
    animation: normal;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    background-color: $azul-weg;

    .cima-sidebar{
        color: white;
        display: flex;
        justify-content:space-around;
        align-items: center;

        img {
            width: 7vw;
            height: 8.7vh;
        }
    }

    .cima-sidebar-aberto{
        position: relative;
        right: 18vw;
    }

    .cima-sidebar-fechado{
        position: relative;
        right: 8vw;
    }

    .container-sidebar{
        display: flex;
        width: 36vw;

        #tamanho-sidebar{
            width: 18vw;
        }
    }

    .personal{
        min-width: 82vw;
    }
}