// principais
$azul-weg: #00579d;

// tons de cinza
$cinza-escuro: #444;
$cinza: #aaa;
$cinza-claro: #eee;

// status
$backlog: $cinza-claro;
$assesment: $cinza-escuro;
$business-case: #ffd600;
$cancelled: #ff1616;
$to-do: #00612e;

// itens
$cor-padrao-demanda: $azul-weg;
$cor-padrao-proposta: #6aacda;
$cor-padrao-pauta: #2382ba;
$cor-padrao-ata: #28b9da;
