// principais
$azul-weg: #00579d;

// tons de cinza
$cinza-escuro: #444;
$cinza: #aaa;
$cinza-claro: #eee;

// status
$backlog: #8862A2;
$assessment: #ef8300;
$business-case: #ffd600;
$cancelled: #ff1616;
$to-do: #00612e;

// itens
$cor-padrao-demanda: $azul-weg;
$cor-padrao-proposta: #9acae5;
$cor-padrao-pauta: #3d83bc;
$cor-padrao-ata: #4ebbde;
