// principais
$azul-weg: #00579D;

// tons de cinza
$cinza-escuro: #595959;
$cinza: #AAAAAA;
$cinza-claro: #DDDDDD;

// status
$backlog: $cinza-claro;
$assesment: $cinza-escuro;
$business-case: #FFD600;
$cancelled: #FF1616;
$to-do: #00612E;

// itens
$cor-padrao-demanda: $azul-weg;
$cor-padrao-proposta: #6AACDA;
$cor-padrao-pauta: #2382BA;
$cor-padrao-ata: #28B9DA;
